astroid==2.2.5
certifi==2019.3.9
django-crispy-forms==1.6.1
django-filter==1.0.4
Django==2.2.27
djangorestframework==3.6.4
isort==4.3.20
lazy-object-proxy==1.4.1
Markdown==2.6.9
mccabe==0.6.1
pip==9.0.1
pylint==2.3.1
pytz==2017.2
setuptools==36.5.0
six==1.12.0
typed-ast==1.4.0
wheel==0.30.0
wrapt==1.11.2
